button{
	/*background-color: lightblue;*/
	width: 70px;
	margin-right: 10px !important;
	margin-left: 5px !important;
	margin-bottom: 10px !important;
}

body{
	overflow: hidden;
}

div{
	margin-left: 30px;
	margin-bottom: 10px;
	/*display: block;*/
}

/*#animals{
	margin-left: 10px;
}*/

.animalClass{
	/*text-align: center;*/
	float: left;
}

#form{
	float: right;
	/*white-space: nowrap;*/
}

label{
	display: block;
}

input{
	display: block;
	margin-top: 10px !important;
	margin-right: 40px !important;
}

#input{
	width: 400px;
}

