button{
	margin: 8px !important;
	padding-right: 8px;
	padding-left: 8px;
	background-color: #0d98ba !important;
	color: white !important;
	font-size: 18px !important;
}

#addinput{
	background-color: #075b6f !important;
	font-size: 18px !important;
	color: white !important;
	margin-top: 10px !important;
}

body{
	overflow-x: hidden;
	background-image: url('../images/background.jpg') !important;
}

.instrumentClass{
	float: left;
	margin-top: 10px;
	margin-left: 17px;
	margin-bottom: 10px;
}

label{
	font-size: 18px;
	color: white;
}

input{
	margin-top: 5px !important;
}

#input{
	width: 400px;
}

p{
	font-size: 18px;
	color: white;
}

.myContainer{
	background-color: rgba(13,152,186, .9);
	border: solid #0d98ba 1px;
	margin: 20px 10px 10px 10px;
	padding: 10px;
}

form{
	background-color: rgba(13,152,186, .9);
	border: solid #0d98ba 1px;
	padding: 10px;
	margin: 20px 0px 10px 10px;
	width: 420px;
}

@media only screen and (max-width: 360px){
	button{
		margin: 3px !important;
		padding-right: 3px;
		padding-left: 3px;
		font-size: 11px !important;
	}

	form{
		padding: 10px;
		margin: 20px 0px 10px 10px;
		width: 340px;
	}

	#input{
		width: 280px;
	}

	#addinput{
		font-size: 12px !important;
	}

	label{
		font-size: 14px;
	}

	.instrumentClass{
		margin-left: 15px;
	}

	img{
		width: 310px;
	}

	p{
		font-size: 14px;
	}
}


