button{
	margin: 8px !important;
	padding-right: 8px;
	padding-left: 8px;
	background-color: #0d98ba !important;
	color: white !important;
	font-size: 18px !important;
}

#addinput{
	background-color: #075b6f !important;
	font-size: 18px !important;
	color: white !important;
	margin-top: 10px !important;
}

body{
	overflow-x: hidden;
	/*background-image: url(../images/play.jpg);*/
}

.instrumentClass{
	float: left;
	margin-top: 10px;
	margin-left: 17px;
	margin-bottom: 10px;
	/*position: relative;*/
}

.giphImg{
	/*position: absolute;*/
}

.playBtn{
	position: relative;
	height: 40px;
	width: 40px;
	/*color: white;*/
	/*top: 0;*/
	left: -50%;
}


label{
	font-size: 18px;
	color: white;
}

input{
	margin-top: 5px !important;
}

#input{
	width: 300px;
}

p{
	font-size: 18px;
	color: white;
}

.myContainer{
	/*background-color: rgba(13,152,186, .9);*/
	/*border: solid #0d98ba 1px;*/
	/*margin: 20px 10px 10px 10px;*/
	padding: 10px;
}

form{
	background-color: rgba(13,152,186, .9);
	border: solid #0d98ba 1px;
	padding: 10px;
	margin: 55px 0px 10px 10px;
	width: 350px;
}

.jumbotron{
	text-align: center;
	color: white !important;
	background-color: #0d98ba !important;
}

img{
		width: 320px;
		height: 210px;
		/*box-shadow: 1px 1px 8px 1px #888888;*/
	}

@media only screen and (max-width: 1024px){
	
	.myContainer{
		width: 620px;
		margin-right: 0px;
	}

	form{
		/*float: right;*/
		margin-left: -60px;
		width: 370px;
	}

	#input{
		width: 300px;
	}

	img{
		width: 590px;
	}
}

@media only screen and (max-width: 768px){
	form{
		width: 360px;
		margin-left: 10px;
	}

	#input{
		width: 300px;
	}
}

@media only screen and (max-width: 640px){

	button{
		margin: 6px !important;
		padding-right: 6px;
		padding-left: 6px;
		font-size: 14px !important;
	}

	form{
		padding: 10px;
		margin: 20px 0px 10px 10px;
		width: 360px;
	}

	#input{
		width: 300px;
	}

	#addinput{
		font-size: 12px !important;
	}

	label{
		font-size: 14px;
	}

	.instrumentClass{
		margin-left: 20px;
	}

	img{
		width: 300px;
	}

	p{
		font-size: 16px;
	}	

}

@media only screen and (max-width: 360px){
	button{
		margin: 3px !important;
		padding-right: 3px;
		padding-left: 3px;
		font-size: 11px !important;
	}

	form{
		padding: 10px;
		margin: 20px 0px 10px 10px;
		width: 300px;
	}

	#input{
		width: 280px;
	}

	#addinput{
		font-size: 12px !important;
	}

	label{
		font-size: 14px;
	}

	.instrumentClass{
		margin-left: 15px;
	}

	img{
		width: 280px;
	}

	p{
		font-size: 14px;
	}
}


